<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhTiWxJ4r9Yiquoh9pynIT8siOi-2r2Ng</string>
	<key>GCM_SENDER_ID</key>
	<string>250006562421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dragondeutsch</string>
	<key>PROJECT_ID</key>
	<string>dragondeutsch-43597</string>
	<key>STORAGE_BUCKET</key>
	<string>dragondeutsch-43597.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250006562421:ios:21de9428f04d6aa1ef7a3c</string>
</dict>
</plist>